*{
	margin:0px;
	padding:0px;
}
main{
	width:50%;
	margin:50px auto 0;
}
div{
	width:60px;
	height:60px;
	border:1px solid black;
	float:left;
	text-align:center;
	line-height:60px;
	font-size:60px;
	background:green;
}
div:hover{
	background:yellow;
}
.topColumn{
	clear:both;
}